{% extends 'base.html.twig' %}

{% block title %}Hello InteractiveMapController!{% endblock %}

{% block body %}
<div class="interactive-map">
    <h1>Carte intéractive</h1>
<input type="text">
</div>
{% endblock %}
