{% extends 'base.html.twig' %}

{% block title %}Les points d'intérêt{% endblock %}

{% block body %}
<div class="container poi">
    <h1>Ajouter un point d'intérêt</h1>


    {{ form(stageForm) }}


    <h2>Liste des points d'intérêt</h2>

    <div class="list">
        <ul>
            {% for stage in stages %}
            <li>
                <a>
                    <p>{{ stage.title }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}