{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<div class=" container artist">
    <h1>Ajouter un artiste</h1>

    {{ form(artistForm) }}
</div>
{% endblock %}