{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<div class="artist">
    <h1>Ajouter un artiste</h1>

    {{ form_start(artistForm) }}
    {{ form_end(artistForm) }}

</div>
{% endblock %}